*{
    border: 0;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Rubik:300,400,500');

body {

    background-color: white;
    height: 800px;
    width: 1134px;     
    margin: auto;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    
}

body #datos {
    font-family: 'Open Sans', sans-serif;
}





#contenedor {
    width: 1134px;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color:white;
    float: left;
    
    
    
}

 #contenedor #subtitulo h1{
     font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    margin-left: 540px;
    margin-bottom: 10px;
    margin-top: 20px;
   
     
     
}

#contenedor table {
    
    border-color: darkgrey;
    border-radius: 6px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    border-collapse: collapse;
    
    
}

#contenedor #cancelar {
    width: 90px;
    height: 42px;
    display: inline;
    float: left;
    margin-top: -81px;
    margin-left: 420px;  
    position: absolute;    
    
}




#title2 {
    font-size: 14px;
    color: white;
    background-color: #212121;
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: none;
  
    
}

#fila{
    background-color: rgba(0,162,171, 0.3);
    color: #212121;

}

#contenedor table tr td{
   
    text-align: center;
    border: 0;   
    border: 0.1px solid;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 2px; 
    font-size: 12px;
    
    
    
}  


#contenedor #tabla_alerta td {
    height: 25px;
    border-color: white;
   
    
}
#contenedor #tabla_alerta{
    
    margin-left: 77px;
    margin-top: 10px;
    
}

#contenedor #tabla_alerta #color{
    width:  45px;
    border-spacing: 0px;
    height: 10px;
    
 
}

table{
    margin-left:auto;
    margin-right: auto;
        color:black;
}

#agregar{
    background-color: #212121;
    width: 80px;
    height: 40px;
    border-radius: px;
    margin-top: 20px;
    color: white;
    margin-left: 530px;
    cursor: pointer;
    
}

#delete {
    width: 100px;
    margin-left: 530px;
    margin-top: 12px;
}

#eliminar {
    background-color: #212121;
    width: 80px;
    height: 40px; 
    color: white;
    cursor: pointer; 
}

#boton {
    margin-left:10px; 
   background-color: rgba(46,46,46,0.9);
    color:white;
  cursor:pointer;
    width: 140px;
    height: 30px;
    border-color: white;
    border: 1px solid;
    margin-top: 20px;
   position:absolute;
    border-radius: 2px;
        
}

#contenedor h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    padding-left: 20px;
}

#contenedor #form3{
    background-color: white;
    width: 400px;
    text-align: left;
    margin-left: 2px;
    margin-top: 4px;
    margin-left: 20px;
}

#contenedor #form3 input{
    background-color: white;
    
    text-align: left;
    margin-left: 2px;
    margin-top: 4px;
    border: 1px solid;
    border-radius: 3px;
    width: 40%;
}



#contenedor #form3 label{
  font-family: 'Open Sans', sans-serif;
  
    width: 20%;
    font-size: 14px;
    margin-left: 5px;
    
}


#contenedor #form3 #segundo{
 padding-right: 100px
}






#contenedor #form3 button{
 width: 100px;
    height: 30px;
    margin-left: 193px;
    border-radius: px;
   background-color: rgba(46,46,46,7); 
    color: aliceblue;
}

#cancelar {
    width: 90px;
    height: 42px;
    display: inline;
    float: left;
    margin-top: -80px;
    /*margin-left: 180px;*/
    margin-left: 10px;  
    position: absolute;
        
        
}

.escondido{
    display: none;
}



#formulario{
    background-color: white;
    width: 950px;
    margin: auto;
    margin-top: 7px;   
    
    height: 250px;
    
}




form{
   
    width: 950px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;    
    border-radius: 5px;
    background-color: #212121;
    
    
    
}

  input{
    border-radius: 2px;   
    height: 30px;
    font-size: 14px;     
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
      margin-left: 30px;
      
      
    
}

form select {
    border-radius: 3px;
    height: 30px;
    font-size: 14px;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    margin-left: 30px;
    width: 187px
    
}

#boton2{
    background-color: rgba(46,46,46,0.9);
    color:white;
     cursor:pointer;
    width: 140px;
    border-color: white;
    border: 1px solid;
  
    
}

#formulario2{
    background-color: white;
    width: 250px;
   
    margin-top: 7px;   
    
    height: 130px;
    margin-left: 400px;
    
}
#form2{
   width: 320px;
    
    height: 100px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;    
    border-radius: 5px;
    background-color: #212121;
    
    
}
#form2 input{
margin-left: 30px;
    width: 260px;
    
}
#boton_form2{
     background-color: rgba(46,46,46,0.9);
    color:white;
 cursor:pointer;
    width: 140px;
    height: 30px;
    border-color: white;
    border: 1px solid;
    position: absolute;
    border-radius: 2px;
    display: block;
    margin-top: -7px;
    margin-left: 20px;
    
}

#boton_cancelar {
    
   background-color: rgba(46,46,46,0.9);
    color:white;
 cursor:pointer;
    width: 140px;
    height: 30px;
    border-color: white;
    border: 1px solid;
    margin-top: -47px;
    position: absolute;
    border-radius: 2px;
    

}
#cancelar2 {
    width: 90px;
    height: 42px;
    display: inline-block;   
    
    margin-left: 167px;
    
        
}

/* Contenedor de estilos para pagina Autores */


#contenedor2 {
    width: 1130px;
    height: 640px;
    margin-left: auto;
    margin-right: auto;
    background-color:white;
    
        
    
}

#contenedor2 #subtitulo h1{
     font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    margin-left: 540px;
    margin-bottom: 10px;
    margin-top: 20px;
     
     
}

#contenedor2 table {
    
    border-color: darkgrey;
    border-radius: 6px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    border-collapse: collapse;
    
    
}
#contenedor2 table tr td{
   
    text-align: center;
    border: 0;   
    border: 0.1px solid;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 2px;
    
}

#contenedor2 #formulario{
    background-color: white;
    width: 950px;
    margin: auto;
    margin-top: 7px;   
    
    height: 122px;
    
}

#contenedor2 #formulario form{
    width: 990px;
}

#contenedor2 #formulario form #fecha{
    width: 185px;
    color: dimgray;
    font-family: 'Open Sans', sans-serif;
    
    
    
}

#contenedor2 #cancelar {
    width: 90px;
    height: 42px;
    display: inline;
    float: left;
    margin-top: -82px;
    margin-left: 838px;  
    position: absolute;
    
    
        
}





#contenedor3 {
    
    width: 1130px;
    height: 640px;
    margin-left: auto;
    margin-right: auto;
    background-color:white;
    
}

#contenedor3 #subtitulo h1{
         font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    margin-left: 540px;
    margin-bottom: 10px;
    margin-top: 20px;
     
    
}



#contenedor3 table {
    
    border-color: darkgrey;
    border-radius: 6px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    border-collapse: collapse;
    
    
}

#contenedor3 table tr td{
   
    text-align: center;
    border: 0;   
    border: 0.1px solid;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 2px;
    
}
#contenedor3 #formulario {
    width: 1000px;
    height: 120px;
}

#contenedor3 #formulario form{
    width: 1000px;
}

#contenedor3 #cancelar {
    width: 90px;
    height: 42px;
    display: inline;
    float: left;
    margin-top: -81px;
    margin-left: 835px;  
    position: absolute;       
}



#contenedor4 {
    width: 1130px;
    height: 640px;
    margin-left: auto;
    margin-right: auto;
    background-color:white;
    
}


#contenedor4 table {
    
    border-color: darkgrey;
    border-radius: 6px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    border-collapse: collapse;
    
    
    
}

#contenedor4 table tr td{
   
    text-align: center;
    border: 0;   
    border: 0.1px solid;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 2px;
    
}

#contenedor4 #subtitulo h1{
         font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    margin-left: 540px;
    margin-bottom: 10px;
    margin-top: 20px;
     
    
}

#contenedor4 #formulario{
 font-family: 'Open Sans', sans-serif;
    font-size: 19px;
   height: 180px;
    margin-bottom: 10px;
    margin-top: 20px;
     
    
}

#contenedor4 #formulario form{
 font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    
    width: 50%;
    

    margin-bottom: 10px;
    margin-top: 20px;
     
    
}

#contenedor4 #cancelar{
    
    margin-left: 430px;
    margin-top: -89px

     
    
}










#contenedor5 {
    width: 1130px;
    height: 640px;
    margin-left: auto;
    margin-right: auto;
    background-color:white;
    
}

#contenedor5 #subtitulo h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    margin-left: 540px;
    margin-bottom: 10px;
    margin-top: 20px;
     
    
}

#contenedor5 table {
    
    border-color: darkgrey;
    border-radius: 6px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    border-collapse: collapse;
    
    
    
}

#contenedor5 table tr td{
   
    text-align: center;
    border: 0;   
    border: 0.1px solid;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 2px;
    
}

#contenedor5 #formulario {
    width: 700px;
    height: 70px;
    margin-left: 120px;
}

#contenedor5 #formulario form{
    width: 800px;
}

#contenedor5 #cancelar {
    width: 90px;
    height: 42px;
    display: inline;
    float: left;
    margin-top: -81px;
    margin-left: 620px;  
    position: absolute;    
    
}





#contenedor6 {
    width: 1130px;
    height: 640px;
    margin-left: auto;
    margin-right: auto;
    background-color:white;
}
    



#contenedor6 #formulario_caja {
    
    margin-top: 50px;
    width: 240px;
    margin-bottom: 10px;
    
    
}

#contenedor6 #formulario_caja #boton2{
    
    margin-left: 47px;
    
   
    
}


#contenedor6 table {
    
    border-color: darkgrey;
    border-radius: 6px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    border-collapse: collapse;
    margin-bottom: 70px;
  
    
    
}


#contenedor6 #datos tr td{
   
    text-align: center;
    color: white;
    font-size: 17px;
    border: 0;   
    border: 0.2px solid;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 2px;
    border-color: darkslategrey;
    
    
}

#contenedor6 a{
font-family: 'Open Sans', sans-serif;
font-weight: bold;
    font-size: 40px;
    margin-left: 410px;
    
}

#contenedor6 #formulario_caja2 {
    
    width: 330px;
    height: 200px;
    
    margin-top: 30px;
    

   
    
    
}

#contenedor6 #formulario_caja2 label {
    width: 30%;
    color: white;
    
    margin-left: 7px;
}

#contenedor6 #formulario_caja2 select  {
    width: 56%;
    margin-left: 24px;
   
}
#contenedor6 #formulario_caja2 #pesos {
    
    font-size: 18px;
    font-weight: bold;
    margin-left: 15px;
    
    
}

#contenedor6 #formulario_caja2 #tipo {
    
  margin-bottom: 10px;
    
    
}

#contenedor6 #boton2  {
    
  margin-left: 15px;
    
    
}



#contenedor6 #formulario_caja2 legend{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin-left: 30px;
    margin-bottom: 15px;
    
}


#contenedor7 {
    width: 1130px;
    height: 640px;
    margin-left: auto;
    margin-right: auto;
    background-color:white;
    
    
}



#contenedor7 #subtitulo h1{
         font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    margin-left: 540px;
    margin-bottom: 10px;
    margin-top: 20px;
     
    
}


#contenedor7 table {
    
    border-color: darkgrey;
    border-radius: 6px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    border-collapse: collapse;
    
    
}


#contenedor7 table tr td{
   
    text-align: center;
    border: 0;   
    border: 0.1px solid;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 2px;
    
}

#contenedor7 #subtitulo2{
    
    
    margin-top: 30px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: red;
    margin-left: 40px;
}





#login{
    
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 600px;
    
    
}

#login h1{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 23px;
    margin-bottom: 40px;
    margin-top: 30px;
}

#login form {
width: 280px;
text-align: center;

}

#login img {
    width: 20%;
    height: 20%;
    margin-left: 240px;
    margin-bottom: 40px;
    
    
}

#login form label {
    color: white;
    text-shadow: 20px;
    margin-left: -5px;
    
    
}

#login form input{
    margin-top: 5px;
    margin-left: -5px
    
}

#login #ingresar {
        background-color: rgba(46,46,46,0.9);
    color:white;
 cursor:pointer;
    width: 140px;
    border-color: white;
    border: 1px solid;
    
}

#login h2{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 16px;
    margin-bottom: 40px;
    margin-top: 30px;
    color: red;
}

footer a{
     font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin-left: 545px
    
}



#contenedor8 {
    
    width: 1130px;
    height: 640px;
    margin-left: auto;
    margin-right: auto;
    background-color:white;
    
    
}

#contenedor8 #subtitulo h1{
         font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    margin-left: 540px;
    margin-bottom: 10px;
    margin-top: 20px;
     
    
}
#contenedor8 a{
         font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-left: 30px;
    padding-bottom: 10px;
    
     
    
}

#contenedor8 form {
    width: 450px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 50px
    
}

#contenedor8 form button {
    width: 30%;
    height: 25px;
    margin-left: 150px;
    border-radius: 4px;
    background-color: rgba(46,46,46,0.10);
    color: white;
    border-color: aliceblue;
   
        
    
}

#contenedor8 form label {
color:white;
    margin-left: 8px
    
}





#contenedor_agregar_cliente {
    width: 600px;
    height:  500px;
    margin-left:50px ;
  
    margin-top: 40px;
    
        
    
}     


#contenedor_agregar_cliente h1{
    margin-bottom: 10px;
    text-align: center;
     font-family: 'Open Sans', sans-serif;
    
    
        
    
}
#contenedor_agregar_cliente form {
    width: 80%;
        height: 40%;
}

#contenedor_agregar_cliente form input {
    width: 40%;
}


#contenedor_agregar_cliente form button {
    width: 40%;
    margin-left: 30px;
    height: 25px;    
       background-color: rgba(46,46,46,0.9);
    color:white;
 cursor:pointer;
    border-color: white;
    border: 1px solid;
    
    
}


#contenedor_home {
    width: 1000px;
    height: 640px;
    margin-left: auto;
    margin-right: auto;
    background-color:white;
    margin-top: 5px;
    
}

#contenedor_home #bienvenida{
    
    width: 999px;
    height: 400px;
    

    background-repeat: no-repeat;
    background-position: bottom;
    
    
}


#contenedor_home #bienvenida #ayuda{
    
padding-right: 80px;
margin-top: -50px;
    padding-left: 20px;
    

}

#contenedor_home #bienvenida #ayuda2{
    
margin-top: -50px;
    
}
#contenedor_home #bienvenida2{
    
    width: 497px;
    height: 500px;
    display: inline-block;
    background-color: white;
    margin-top: 40px;
   
    
  
    
}

#contenedor_home #bienvenida2 a{
    
    text-align: justify;
    margin-top: 40px;
    margin-bottom: 20px;
    

   
  
    
}

#contenedor_home #bienvenida2 ul{
    
    text-decoration: none;
    list-style: none;
    color: rgba(46,46,46,0.9);
    font-family: 'Open Sans', sans-serif; 
    margin-top: 140px;
   
    
    
  
    
}


#contenedor_home #bienvenida2 li{
    
    text-decoration: none;
    list-style: none;
    color: rgba(46,46,46,0.9);
    font-family: 'Open Sans', sans-serif;    
   padding-top: 20px;
    
    
  
    
}


#contenedor_home #bienvenida3{
    
    width: 497px;
    height: 500px;
display: inline-block;
    background-color: white;
    position: absolute;
    
    

    
}

#contenedor_home #bienvenida3 img{
    
    width: 100%;
    height: 100%;
margin-left: 40px;
    margin-top: 20px;
    border-radius: 20px;
    
    
    
    

    
}



#contenedor_home #bienvenida a{
    text-decoration: none;
    color: rgba(46,46,46,0.9);
       font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    float: right;
    margin-top: -10px;
        
    
}
#contenedor_home #bienvenida h1{
    
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 40px;
    padding-top: 30px;
    color: rgba(46,46,46,0.9);
    font-weight: 700;
    
    
    
}





