body{
    background-color: lightgray;       
    background-size:auto;
    background-position: center;    
    }


#contenedor {
    
    width: 1280px;
    height: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    background-color: white;     
}
#encabezado {
    
    width: 1280px;
    height: 80px;
    background-color: #212121;
    color: white;  
    vertical-align: middle;
    
}

#encabezado table {
    margin-left: 500px;
    float: left;
    margin-top: 20px;
    
    }

#encabezado table td{
    width: 200px;
}

#encabezado table td a{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    font-stretch: extra-expanded;
    text-decoration: none;    
    
    }

#encabezado #sesion {
    font-size: 15px;
    font-weight: 200;
    margin-left: 5px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    
}


#menu {
     width: 155px;
    height: 671px;
    background-color: #212121;
    display: inline-block;
   z-index: 0;
    position: ;
        
}


#menu ul {
    width: 109px;
    margin-top: 20px;
}
#menu ul li{
    list-style: none;
    width: 150px;
    height: 50px;
    margin-left: -40px;
    margin-top: 20px;
  
    
}

#menu ul li i{
    margin-left: 25px;
    color: white;
}


#menu ul li a{
    text-decoration: none;
    text-decoration-line: underline;
    color: white;
    font-family:'Open Sans', sans-serif;
    
    font-size:14px;
    margin-left: 5px;
          
}

#elementos {
    background-color: white;
    display:inline-block;
    width: 1126px;
    height: 670px;
    margin-left:0px;
    position:absolute;
    background-color: white;
    overflow-x: hidden;
    overflow: hidden;
      
}



#elementos  iframe {
    width: 1122px;
    height:  667px;
      position: absolute;
    overflow: hidden;
    
    
}

footer{
    display: block;
    width: 1280px;
    height: 100px;    
    background-color:#212121;
    position: absolute;

}

footer table {    
   
    margin-top: 40px;
 
    margin-left: 50%;
    
}

footer table td a{
font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 16px;
  
   
}


